.vscode
.idea
.DS_Store

*.local
*.swp
*.tgz
*.tsbuildinfo

node_modules
dist
dist-ssr
packages/*/node_modules
packages/*/.temp
packages/*/.cache
moon-icon
packages/moon-icon-vue3/components/*
packages/moon-icon-svg/resources/*
packages/moon-icon-website/src/csv/*

.pnpm-debug.log

coverage
auto-imports.d.ts
