.vscode
.idea
.DS_Store

*.local
*.swp
*.tgz
*.tsbuildinfo

node_modules
dist
dist-ssr
packages/*/node_modules
packages/*/.temp
packages/*/.cache
moonicon
packages/moonicon-svg/resources/*
!packages/moonicon-svg/resources/icons.csv

.pnpm-debug.log

coverage
