.vscode
.idea
.DS_Store

*.local
*.swp
*.tgz
*.tsbuildinfo

node_modules
dist
dist-ssr
packages/*/node_modules
packages/*/.temp
packages/*/.cache
moonicon
packages/moonicon-vue3/components/*
packages/moonicon-svg/resources/*
packages/moonicon-website/src/csv/*

.pnpm-debug.log

coverage
auto-imports.d.ts
