.container {
  padding: 32px 0 128px 0;

  .title {
    font-weight: 590;
    font-size: 20px;
  }

  .content {
    .info {
      font-weight: 400;
      font-size: 16px;
      color: #888888;
    }
  }
}