.container {
  width: 100%;
  height: 100%;

  .banner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 520px;
    margin: 32px 0;
    background: #EEEEEE;

    .title {
      position: absolute;
      top: 48px;
    }

    .info {
      position: absolute;
      width: 160px;
      height: 40px;
      left: calc(50% - 160px/2);
      top: 304px;
      background: #000000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
    }

    .pattern {
      position: absolute;
      bottom: -7px;
    }
  }

  :global {
    .n-divider:not(.n-divider--vertical) {
      margin-bottom: 0;
    }
  }
}